{% layout "base/index" %}

{% block page_title %}Affichage des candidats{% endblock %}

{% block main %}
<section>
    <h1>{{ title }}</h1>

    <p>
        <a href="candidat/">Ajouter un candidat</a>
    </p>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Slogan</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for candidat in model %}
            <tr>
                <td>{{ candidat.id }}</td>
                <td>{{ candidat.lastname }}</td>
                <td>{{ candidat.firstname }}</td>
                <td>{{ candidat.slogan }}</td>
                <td><a href="{{ candidat.id }}">Afficher</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
