{% layout "base/index" %}

{% block page_title %}Affichage des candidats{% endblock %}

{% block main %}
<section>
    <h1>{{ title }}</h1>

    <p>
        <a href="/candidates/add">Ajouter un candidat</a>
    </p>

    {% if flashMessage != "" %}
    <p>
        <b>{{ flashMessage }}</b>
    </p>
    {% endif %}
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Slogan</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for candidat in allCandidates %}
            <tr>
                <td>{{ candidat.id }}</td>
                <td>{{ candidat.lastname }}</td>
                <td>{{ candidat.firstname }}</td>
                <td>{{ candidat.slogan }}</td>
                <td>
                    <a href="/candidates/{{ candidat.id }}">Afficher</a>
                    <a href="/candidates/edit/{{ candidat.id }}">Modifier</a>
                    <a href="/candidates/delete/{{ candidat.id }}">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
